@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
/* line 3, ../sass/style.sass */
body {
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 16px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: #313131;
  background: #f3fcfb;
}

/* line 11, ../sass/style.sass */
a {
  color: #313131;
  text-decoration: unset;
}

/* line 15, ../sass/style.sass */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  transition: all 0.5s;
}
/* line 22, ../sass/style.sass */
.header-bg {
  background: #afede6;
}
/* line 25, ../sass/style.sass */
.header-wave {
  width: 100%;
  height: 50px;
  top: 125px;
  background-image: url(../images/nav_bottom.png);
  -webkit-animation: 30s wave01 linear infinite;
  animation: 30s wave01 linear infinite;
  transition: all 0.5s;
  position: fixed;
  opacity: 0;
}
/* line 36, ../sass/style.sass */
.header-wave.show {
  opacity: 1;
}
/* line 40, ../sass/style.sass */
.header-logo {
  margin: 0 32px;
}
/* line 43, ../sass/style.sass */
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Potta One";
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
/* line 52, ../sass/style.sass */
.header-nav-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
/* line 61, ../sass/style.sass */
.header-nav-item a:hover img {
  transform: translateY(75%);
}
/* line 63, ../sass/style.sass */
.header-nav-item a:hover .title {
  transform: translateY(-200%);
}
/* line 66, ../sass/style.sass */
.header-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 71, ../sass/style.sass */
.header-nav-link img {
  width: 48px;
  transition: all 0.3s;
}
/* line 75, ../sass/style.sass */
.header-nav-link .title {
  margin-top: 8px;
  transition: all 0.3s;
  white-space: nowrap;
}
/* line 80, ../sass/style.sass */
.header-nav .hamburglar {
  display: none;
}

/* line 83, ../sass/style.sass */
.footer {
  background-color: #f3fcfb;
  position: relative;
  color: #2b5968;
  background-image: url(../images/footer.png);
  background-size: cover;
  background-position: center top;
}
/* line 91, ../sass/style.sass */
.footer a {
  color: #2b5968;
  transition: all 0.3s;
}
/* line 95, ../sass/style.sass */
.footer a:hover {
  color: #6aacc2;
}
/* line 98, ../sass/style.sass */
.footer-top {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 360px;
  animation: 30s ship linear infinite;
  transition: all 2s;
  transition-delay: 1s;
}
/* line 109, ../sass/style.sass */
.footer-top img {
  width: 100%;
}
/* line 111, ../sass/style.sass */
.footer-main {
  padding: 144px 36px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}
/* line 120, ../sass/style.sass */
.footer-main-logo {
  width: 280px;
  margin-bottom: 2rem;
}
/* line 124, ../sass/style.sass */
.footer-main-logo img {
  width: 100%;
}
/* line 127, ../sass/style.sass */
.footer-main-team {
  margin-bottom: 2rem;
}
/* line 130, ../sass/style.sass */
.footer-main-team ul {
  width: 10em;
}
/* line 133, ../sass/style.sass */
.footer-main-team .team {
  text-align: center;
  font-weight: 700;
  position: relative;
  margin-bottom: 1rem;
}
/* line 139, ../sass/style.sass */
.footer-main-team .team-item {
  position: relative;
}
/* line 142, ../sass/style.sass */
.footer-main-team .name {
  position: absolute;
  right: 0;
}
/* line 146, ../sass/style.sass */
.footer-main-social {
  margin-bottom: 1rem;
}
/* line 150, ../sass/style.sass */
.footer-main-social .social-item {
  margin: 0 0.25rem;
}
/* line 153, ../sass/style.sass */
.footer-main-copyright {
  font-size: 0.75rem;
}

/* line 156, ../sass/style.sass */
.scrolltop {
  cursor: pointer;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 80px;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 999;
}
/* line 166, ../sass/style.sass */
.scrolltop.show {
  opacity: 1;
}
/* line 169, ../sass/style.sass */
.scrolltop img {
  width: 100%;
}

@-webkit-keyframes wave01 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 2948px;
  }
}
@-moz-keyframes wave01 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 2948px;
  }
}
@-ms-keyframes wave01 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 2948px;
  }
}
@keyframes wave01 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 2948px;
  }
}
@-webkit-keyframes wave02 {
  0% {
    background-position-x: 3046px;
  }
  100% {
    background-position-x: 0px;
  }
}
@-moz-keyframes wave02 {
  0% {
    background-position-x: 3046px;
  }
  100% {
    background-position-x: 0px;
  }
}
@-ms-keyframes wave02 {
  0% {
    background-position-x: 3046px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes wave02 {
  0% {
    background-position-x: 3046px;
  }
  100% {
    background-position-x: 0px;
  }
}
@-webkit-keyframes bounceAlpha {
  0% {
    opacity: 1;
    right: 20px;
  }
  25% {
    opacity: 0;
    right: 10px;
  }
  26% {
    opacity: 0;
    right: 30px;
  }
  55% {
    opacity: 1;
    right: 20px;
  }
}
@-moz-keyframes bounceAlpha {
  0% {
    opacity: 1;
    right: 20px;
  }
  25% {
    opacity: 0;
    right: 10px;
  }
  26% {
    opacity: 0;
    right: 30px;
  }
  55% {
    opacity: 1;
    right: 20px;
  }
}
@-ms-keyframes bounceAlpha {
  0% {
    opacity: 1;
    right: 20px;
  }
  25% {
    opacity: 0;
    right: 10px;
  }
  26% {
    opacity: 0;
    right: 30px;
  }
  55% {
    opacity: 1;
    right: 20px;
  }
}
@keyframes bounceAlpha {
  0% {
    opacity: 1;
    right: 20px;
  }
  25% {
    opacity: 0;
    right: 10px;
  }
  26% {
    opacity: 0;
    right: 30px;
  }
  55% {
    opacity: 1;
    right: 20px;
  }
}
@-webkit-keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-ms-keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-out {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-ms-keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate-in {
  0% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash-in {
  0% {
    stroke-dashoffset: 240;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
@-moz-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
@-ms-keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
@keyframes dash-out {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 240;
  }
  100% {
    stroke-dashoffset: 240;
  }
}
@-webkit-keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}
@-moz-keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}
@-ms-keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}
@keyframes bun-top-out {
  0% {
    left: 0;
    top: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    top: 0;
    transform: rotate(15deg);
  }
  80% {
    left: -5px;
    top: 0;
    transform: rotate(-60deg);
  }
  100% {
    left: -5px;
    top: 1px;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}
@-moz-keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}
@-ms-keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}
@keyframes bun-bot-out {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  20% {
    left: 0;
    transform: rotate(-15deg);
  }
  80% {
    left: -5px;
    transform: rotate(60deg);
  }
  100% {
    left: -5px;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}
@-moz-keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}
@-ms-keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}
@keyframes bun-top-in {
  0% {
    left: -5px;
    bot: 0;
    transform: rotate(-45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(-60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}
@-moz-keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}
@-ms-keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}
@keyframes bun-bot-in {
  0% {
    left: -5px;
    transform: rotate(45deg);
  }
  20% {
    left: -5px;
    bot: 0;
    transform: rotate(60deg);
  }
  80% {
    left: 0;
    bot: 0;
    transform: rotate(-15deg);
  }
  100% {
    left: 0;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}
@-moz-keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}
@-ms-keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}
@keyframes burger-fill-in {
  0% {
    width: 0;
    left: 36px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  80% {
    width: 36px;
    left: -6px;
  }
  100% {
    width: 36px;
    left: 0px;
  }
}
@-webkit-keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}
@-moz-keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}
@-ms-keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}
@keyframes burger-fill-out {
  0% {
    width: 36px;
    left: 0px;
  }
  20% {
    width: 42px;
    left: -6px;
  }
  40% {
    width: 0;
    left: 40px;
  }
  100% {
    width: 0;
    left: 36px;
  }
}
@-webkit-keyframes ship {
  0% {
    left: 0;
    transform: translate(-100%, -50%);
  }
  100% {
    left: 100%;
    transform: translate(-100%, -50%);
  }
}
@-moz-keyframes ship {
  0% {
    left: 0;
    transform: translate(-100%, -50%);
  }
  100% {
    left: 100%;
    transform: translate(-100%, -50%);
  }
}
@-ms-keyframes ship {
  0% {
    left: 0;
    transform: translate(-100%, -50%);
  }
  100% {
    left: 100%;
    transform: translate(-100%, -50%);
  }
}
@keyframes ship {
  0% {
    left: 0;
    transform: translate(-100%, -50%);
  }
  100% {
    left: 100%;
    transform: translate(-100%, -50%);
  }
}
@media screen and (max-width: 1440px) {
  /* line 363, ../sass/style.sass */
  .footer-top {
    width: 280px;
    left: 10px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 369, ../sass/style.sass */
  .header {
    background: #afede6;
  }
  /* line 372, ../sass/style.sass */
  .header-nav {
    padding: 20px 20px 0;
  }
  /* line 375, ../sass/style.sass */
  .header-nav-list {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
  }
  /* line 383, ../sass/style.sass */
  .header-nav-list.open {
    display: block;
    position: absolute;
    opacity: 1;
    left: 0;
    top: 105px;
    padding: 50px 0;
    height: calc(100vh - 205px);
  }
  /* line 395, ../sass/style.sass */
  .header-nav-list:first-child.open {
    background: #afede6;
    width: 50%;
  }
  /* line 399, ../sass/style.sass */
  .header-nav-list:first-child.open .header-nav-item {
    margin-left: 50%;
    margin-bottom: 10%;
  }
  /* line 406, ../sass/style.sass */
  .header-nav-list:nth-child(3).open {
    left: 50%;
    background: #afede6;
    width: 50%;
  }
  /* line 411, ../sass/style.sass */
  .header-nav-list:nth-child(3).open .header-nav-item {
    margin-right: 50%;
    margin-bottom: 10%;
  }
  /* line 415, ../sass/style.sass */
  .header-nav-list.close {
    display: block;
    position: fixed;
    top: 100%;
    left: 0;
    opacity: 0;
  }
  /* line 422, ../sass/style.sass */
  .header-nav .hamburglar {
    display: block;
    position: relative;
    width: 68px;
    height: 68px;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
  }
  /* line 432, ../sass/style.sass */
  .header-nav .hamburglar.is-closed .path {
    animation: dash-in 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 436, ../sass/style.sass */
  .header-nav .hamburglar.is-closed .animate-path {
    animation: rotate-in 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 440, ../sass/style.sass */
  .header-nav .hamburglar.is-closed .burger-bun-top {
    animation: bun-top-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 444, ../sass/style.sass */
  .header-nav .hamburglar.is-closed .burger-bun-bot {
    animation: bun-bot-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 448, ../sass/style.sass */
  .header-nav .hamburglar.is-closed .burger-filling {
    animation: burger-fill-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 453, ../sass/style.sass */
  .header-nav .hamburglar.is-open .path {
    animation: dash-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 457, ../sass/style.sass */
  .header-nav .hamburglar.is-open .animate-path {
    animation: rotate-out 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 461, ../sass/style.sass */
  .header-nav .hamburglar.is-open .burger-bun-top {
    animation: bun-top-in 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 465, ../sass/style.sass */
  .header-nav .hamburglar.is-open .burger-bun-bot {
    animation: bun-bot-in 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 469, ../sass/style.sass */
  .header-nav .hamburglar.is-open .burger-filling {
    animation: burger-fill-in 0.6s linear normal;
    animation-fill-mode: forwards;
  }
  /* line 473, ../sass/style.sass */
  .header-nav .path-burger {
    position: absolute;
    top: 0;
    left: 0;
    height: 68px;
    width: 68px;
    mask: url(#mask);
    -webkit-mask-box-image: url(../images/burger-mask.svg);
  }
  /* line 482, ../sass/style.sass */
  .header-nav .animate-path {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
  }
  /* line 489, ../sass/style.sass */
  .header-nav .path-rotation {
    height: 34px;
    width: 34px;
    margin: 34px 34px 0 0;
    transform: rotate(0deg);
    transform-origin: 100% 0;
  }
  /* line 496, ../sass/style.sass */
  .header-nav .path-rotation:before {
    content: "";
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0;
    background: #2b5968;
  }
  /* line 504, ../sass/style.sass */
  .header-nav .path {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    stroke-linejoin: round;
  }
  /* line 509, ../sass/style.sass */
  .header-nav .burger-icon {
    position: absolute;
    padding: 20px 16px;
    height: 68px;
    width: 68px;
  }
  /* line 515, ../sass/style.sass */
  .header-nav .burger-container {
    position: relative;
    height: 28px;
    width: 36px;
  }
  /* line 520, ../sass/style.sass */
  .header-nav .burger-bun-top, .header-nav .burger-bun-bot, .header-nav .burger-filling {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    border-radius: 2px;
    background: #2b5968;
  }
  /* line 528, ../sass/style.sass */
  .header-nav .burger-bun-top {
    top: 0;
    transform-origin: 34px 2px;
  }
  /* line 532, ../sass/style.sass */
  .header-nav .burger-bun-bot {
    bottom: 0;
    transform-origin: 34px 2px;
  }
  /* line 536, ../sass/style.sass */
  .header-nav .burger-filling {
    top: 12px;
  }
  /* line 539, ../sass/style.sass */
  .header-nav .burger-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
  }
  /* line 546, ../sass/style.sass */
  .header-nav .svg-ring {
    width: 68px;
    height: 68px;
  }
  /* line 549, ../sass/style.sass */
  .header-logo {
    margin: 0 16px;
  }
  /* line 552, ../sass/style.sass */
  .header-wave {
    top: 105px;
    z-index: 999;
    opacity: 1;
  }

  /* line 557, ../sass/style.sass */
  .footer-top {
    width: 240px;
    transform: translateY(-25%);
  }
}
@media screen and (max-width: 768px) {
  /* line 564, ../sass/style.sass */
  .header-nav {
    justify-content: center;
  }
  /* line 570, ../sass/style.sass */
  .header-nav-list:first-child.open .header-nav-item {
    margin-left: 20%;
    margin-bottom: 25%;
  }
  /* line 576, ../sass/style.sass */
  .header-nav-list:nth-child(3).open .header-nav-item {
    margin-right: 20%;
    margin-bottom: 25%;
  }
  /* line 580, ../sass/style.sass */
  .header-nav .hamburglar {
    position: absolute;
    top: 24px;
    right: 32px;
  }
}
@media screen and (max-width: 576px) {
  /* line 587, ../sass/style.sass */
  .header-wave {
    top: 68px;
  }
  /* line 590, ../sass/style.sass */
  .header-logo {
    height: 48px;
  }
  /* line 593, ../sass/style.sass */
  .header-logo img {
    height: 100%;
  }
  /* line 598, ../sass/style.sass */
  .header-nav-list.open {
    top: 68px;
    height: calc(100vh - 168px);
  }
  /* line 602, ../sass/style.sass */
  .header-nav .hamburglar {
    transform: scale(0.6);
    top: 8px;
    right: 8px;
  }

  /* line 608, ../sass/style.sass */
  .footer-top {
    top: 10px;
    width: 180px;
  }
  /* line 613, ../sass/style.sass */
  .footer-main-logo {
    width: 210px;
  }

  /* line 616, ../sass/style.sass */
  .scrolltop {
    right: 20px;
    bottom: 20px;
    width: 48px;
  }
}
